@using Events.Models
@model Events.Models.EventData

@{
    ViewBag.Title = "Details";
    Event e = EventData.getEvent(ViewBag.id);
}

<h2>Details</h2>
<h3>Name</h3>
<p>@e.Name</p>
<h3>Desc</h3>
<p>@e.Desc</p>
<h3>Location</h3>
<p>@e.Location</p>
